
SASnPy/.vs/SASnPy/v15/.suo
SASnPy/bin/Debug/SASnPy.dll
SASnPy/bin/Debug/SASnPy.pdb
SASnPy/bin/x64/Debug/RGiesecke.DllExport.Metadata.dll
SASnPy/bin/x64/Debug/SASnPy.dll
SASnPy/bin/x64/Debug/SASnPy.pdb
SASnPy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SASnPy/obj/Debug/SASnPy.csproj.FileListAbsolute.txt
SASnPy/obj/Debug/SASnPy.csprojResolveAssemblyReference.cache
SASnPy/obj/Debug/SASnPy.dll
SASnPy/obj/Debug/SASnPy.pdb
SASnPy/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SASnPy/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SASnPy/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SASnPy/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SASnPy/obj/x64/Debug/SASnPy.csproj.FileListAbsolute.txt
SASnPy/obj/x64/Debug/SASnPy.dll
SASnPy/obj/x64/Debug/SASnPy.pdb
SASnPy/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SASnPy/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SASnPy/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SASnPy/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SASnPy/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SASnPy/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SASnPy/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SASnPyTestClient/bin/Debug/SASnPyTestClient.exe
SASnPyTestClient/bin/Debug/SASnPyTestClient.exe.config
SASnPyTestClient/bin/Debug/SASnPyTestClient.pdb
SASnPyTestClient/bin/x64/Debug/SASnPy.dll
SASnPyTestClient/bin/x64/Debug/SASnPy.pdb
SASnPyTestClient/bin/x64/Debug/SASnPyTestClient.exe
SASnPyTestClient/bin/x64/Debug/SASnPyTestClient.exe.config
SASnPyTestClient/bin/x64/Debug/SASnPyTestClient.pdb
SASnPyTestClient/obj/Debug/CoreCompileInputs.cache
SASnPyTestClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SASnPyTestClient/obj/Debug/SASnPyTestClient.csproj.FileListAbsolute.txt
SASnPyTestClient/obj/Debug/SASnPyTestClient.csprojResolveAssemblyReference.cache
SASnPyTestClient/obj/Debug/SASnPyTestClient.exe
SASnPyTestClient/obj/Debug/SASnPyTestClient.pdb
SASnPyTestClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SASnPyTestClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SASnPyTestClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SASnPyTestClient/obj/x64/Debug/CoreCompileInputs.cache
SASnPyTestClient/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SASnPyTestClient/obj/x64/Debug/SASnPyTestClient.csproj.FileListAbsolute.txt
SASnPyTestClient/obj/x64/Debug/SASnPyTestClient.csprojResolveAssemblyReference.cache
SASnPyTestClient/obj/x64/Debug/SASnPyTestClient.exe
SASnPyTestClient/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SASnPyTestClient/obj/x64/Debug/SASnPyTestClient.pdb
SASnPyTestClient/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SASnPyTestClient/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
